{% extends "base.html" %}

{% block content %}

{% if all_lectures %}
{% for lecture in all_lectures %}
<hr>
<p>{{lecture.name}}</p>

{% if lecture.lecturer %}
<p>Lecturer:</p>
<p>{{lecture.lecturer.name}} {{lecture.lecturer.surname}}</p>
{% endif %}

{% if lecture.students %}
<p>Students:</p>
{%for student in lecture.students %}
<p>{{student.name}} {{student.surname}}</p>
{% endfor %}
{% endif %}

{% endfor %}
{% endif %}
<hr>
<p><a href="{{ url_for('new_lecture')}}">New lecture</a></p>

{% endblock %}